html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  color: #EEEBD3;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Orbitron', sans-serif;
  overflow: auto; Hide scrollbars
}

.example::-webkit-scrollbar {
  display: none;
}

#navbar {
  background-color: #255957;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#mainIndex {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2142855.jpg");
  color: #EEEBD3;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

#avatar {
  align-items: right;
}


h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

#addnav {
  color: #00B7FF;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

h4 {
  color: #e3e9eb;
  width: 600px;
  background-color: black;
  opacity: 80%;
}

#paragraph1, #paragraph2 {
  text-align: center;
}

#website {
  color: #00B7FF;
  font-size: 17px;
  padding: 0 10px 0 10px;
}

#navlink {
  color: #00B7FF;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

#navlink2 {
  color: #00B7FF;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

#navlink3 {
  color: #00B7FF;
  font-size: 20px;
  padding: 0 20px 0 10px;
}

nav img {
  width: 50px;
  height: 50px;
  align-items: left;
  padding: 0;
}

.profile-avatar {
  margin-top: 50px;
}

