<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Venues!</h1>
	<%# New Code Below %>
  <% if (user) { %>
    <h2>Add a Venue!</h2>
    <form action="/venues" method="POST">
      <label>
        Name: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <form action="/venues" method="POST">
        <label>
          ObjectId: 
          <input type="text" name="_id" autocomplete="off">
        </label>
      <label>
        Image URL:
        <input type="text" name="imageURL">
      </label>
      <button type="submit">Add 🌮</button>
    </form>
  <% } %>

<%- include('../partials/footer') %>