body {
  background-color: #04AA6D;
  height: 100vh;
}

#new-form2 {
  flex-direction: column;
  max-width: 600px;
  max-height: 900px;
  padding-left: 15px;
}

#new-form2 > * {
  margin-bottom: 8px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-row > label {
  width: 20%;
}

.form-row > input {
  width: 80%;
}

#new-form2 > button {
  max-width: 300px;
}
