#infolabels {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: black;
}

h1 {
  background-color: black;
}

body {
  background-color: black;
}

h4 {
  color: #e3e9eb;
  width: 600px;
  background-color: #255957;
}

main {
  display: flex;
}

#revtitle {
  padding-top: 40px;
}